<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snxun.book" >

    <!-- 这个权限用于进行写入扩展存储，向扩展卡写入数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.login.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.money.main.MainActivity" >
        </activity>
        <activity android:name=".ui.money.add.AddActivity" >
        </activity>
        <activity android:name=".ui.my.MessageActivity" >
        </activity>
        <activity android:name=".ui.my.RemindActivity" >
        </activity>
        <activity android:name=".ui.my.SetActivity" >
        </activity>
        <activity android:name=".ui.my.HelpActivity" >
        </activity>
        <activity android:name=".ui.my.AboutActivity" >
        </activity>
        <activity android:name=".ui.login.LoginActivity" >
        </activity>
        <activity android:name=".ui.login.RegisteredActivity" >
        </activity>
        <activity android:name=".ui.money.add.SubmitRemarkActivity" >
        </activity>
        <activity android:name=".ui.money.update.UpdateActivity" >
        </activity>
        <activity android:name=".ui.money.search.SearchActivity" >
        </activity>
        <activity android:name=".ui.my.ExportActivity" >
        </activity>
        <activity android:name=".ui.my.ClearActivity" >
        </activity>
        <activity android:name=".ui.my.ModifyPasswordActivity" >
        </activity>
        <activity android:name=".ui.my.PersonalInfoActivity" >
        </activity>
        <activity android:name=".ui.login.RetrievePasswordActivity" >
        </activity>
        <activity android:name=".ui.my.budget.BudgetActivity" >
        </activity>
        <activity android:name=".ui.my.budget.AddBudgetActivity" >
        </activity>
        <activity
            android:name=".ui.my.demo.home.DemoHomeActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name=".ui.my.demo.tab.TabTestActivity"
            android:screenOrientation="portrait">

        </activity>

        <receiver android:name=".ui.my.RemindReceiver" >
        </receiver>
    </application>

</manifest>